.header-body{
    
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
}



.header-body .container {   
    display: flex;
    justify-content: space-between;
   
}

.list-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin-right: 5%; 
}

label{
    font-family: SofiaPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #acacac; 
}
label:hover{
    color: #403f4c; 
    cursor: pointer;
    border-bottom: solid 0.7px #000000;
   
}


ul {
    list-style-type: none;
}


.img-logo{
    width: 30.6px;
    height: 24.9px;
    object-fit: contain;
}